#!/bin/bash

{{ if eq .chezmoi.hostname "nexus" -}}

    # Variables
    wallpaper=(~/Pictures/Wallpaper/Anime/soma-wallpaper.png)
    lockscreen=(~/Pictures/Wallpaper/Anime/yue-wallpaper.png)

    # Functions
    _isInstalled() {
    package="$1";
    check="$(sudo pacman -Qs --color always "${package}" | grep "local" | grep "${package} ")";
    if [ -n "${check}" ] ; then
        echo 0; #'0' means 'true' in Bash
        return; #true
    fi;
    echo 1; #'1' means 'false' in Bash
    return; #false
    }

    _installPackages() {
        # The packages that are not installed will be added to this array.
        toInstall=();

        for pkg; do
            # If the package IS installed, skip it.
            if [[ $(_isInstalled "${pkg}") == 0 ]]; then
                echo "${pkg} is already installed.";
                continue;
            fi;

            #Otherwise, add it to the list of packages to install.
            toInstall+=("${pkg}");
        done;

        # If no packages were added to the "${toInstall[@]}" array,
        #     don't do anything and stop this function.
        if [[ "${toInstall[@]}" == "" ]] ; then
            echo "All packages are already installed.";
            return;
        fi;

        # Otherwise, install all the packages that have been added to the "${toInstall[@]}" array.
        printf "Packages not installed:\n%s\n" "${toInstall[@]}";
        yay -S "${toInstall[@]}";
    }

    # Upgrade System
    yay -Syyu --noconfirm;

    # Change Shell
    if [ echo $SHELL != "/usr/bin/zsh" ]; then
        echo "ZSH is not the default shell";
        chsh -s /usr/bin/zsh;
    fi;

    # Packages to install
    packages=("firefox" 
            "qutebrowser"
            "joplin"
            "calibre"
            "gitflow-avh"
            "code"
            "gitkraken"
            "mopidy-spotify"
            "mopidy-spotify-web"
            "ncmpcpp"
            "youtube-dl"
            "mpv"
            "onlyoffice-bin"
            "nerd-fonts-droid-sans-mono"
            "urxvtconfig"
            "python-pip"
            "linux419-virtualbox-host-modules"
            "virtualbox"
            "vagrant"
            "klavaro"
            "rofi"
            "polybar"
            "betterlockscreen"
            "nitrogen"
            "telegram-desktop");
            
    _installPackages "${packages[@]}";
    
    # Set LockScreen
    betterlockscreen -u $lockscreen
    # Set Wallpaper
    nitrogen --set-zoom-fill $wallpaper
{{ end -}}

